{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          id="metaViewport">
    <title>{% block title %}Без названия{% endblock %}</title>
    <meta name="twitter:title" content="Title">
    <meta property="og:title" content="Title">
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="img/default.png">
    <meta property="vk:image" content="img/default.png">
    <meta name="twitter:image" content="img/default.png">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <meta name="theme-color">
    <meta name="msapplication-navbutton-color">
    <meta name="apple-mobile-web-app-status-bar-style">
    <meta name="google-site-verification" content="Vd6SKgJB9w-ZCxtboGjVUoMPx6ys1r6B4zkCuO4DuMU"/>

    {% block styles %} {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {% block scripts %} {% endblock %}
</head>
<body>

{% include 'includes/header.html' %}

{% block content %}{% endblock %}

{% include 'includes/footer.html' %}

</body>
